body{
	font-family: 'Montserrat', sans-serif;
}

#header-container,
#info-container {

	background-color: #560764;
	color: white;
}


#header-container .login,
#header-container .navbar-toggler{
	color: white;
}

/*container-fluid  abarca todo el ancho de la pagina*/

.columna{
	/*border:1px solid red;	*/
}

#menu-container{
	background-color: #f7f7f9;
}
.btn.btn-platzi{
	background-color: #560764;
	color:white;
}

.btn.btn-platzi:hover{
	background-color: #8ab542;
}

input.form-control:focus{
	border-color:#560764;
}

#search-bar{
	padding:1em; 
}

#productosCarousel img{
	margin: 0 auto;
}



#info-container h4{
	padding: 1em 0; 
}

#info-container img{
	margin: 0 auto;
	margin-top: 2em;
}

#footer-container{
	background-color: #BB8FA9;
	color: white;
	padding: 3em 0;
}

#footer-container h4{
	font-size: 16px;
}

#footer-container .nav-link{
	color:white;
}

/*breakpoint para los small de 768*/
@media(max-width: 768px){
	#footer-container [class*="col-"] {
		margin-bottom: 2em;
	}
}

#breadcrumbs-container .breadcrumb{
	background-color: white;
	padding-left: 0;

}

#productos-container{
	margin-bottom: 2em;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item{
	color:#1c3643;
}


#breadcrumbs-container .breadcrumb .breadcrumb-item.active{
	color:#95a5a6;
}

#breadcrumbs-container .breadcrumb .breadcrumb-item+.breadcrumb-item::before{
	content: '>';
}

#filtros-container .list-group-item-action.active{
	background-color: #560764;
	border-color: #560764;
}

#filtros-container .list-group+.list-group{
	margin-top: 1em;
}

@media (max-width: 768px) {
	/*#productos-container .filtros-toggle{
		margin-bottom: 1em
	}*/
	.listado-productos{
		margin-top: 2em;
	}
	.listado-productos .card-img-top{
		width: 100%;
	}

}

#paginator-container .page-item:not(.active):not(.disabled) .page-link{
	color: #560764;
}

#paginator-container .page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover{
	background-color: #560764;
	border-color: #560764;
	color:white;
}
